In [1]:
import pandas as pd

In [9]:
url ="https://www.fdic.gov/bank-failures/failed-bank-list"

df = pd.read_html(url)

In [10]:
df[0]

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund
0,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
1,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
2,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
3,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
4,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
5,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
6,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
7,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
8,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
9,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535

In [14]:
!pip install html5lib
!pip install beautifulsoup4

Requirement already satisfied: html5lib in /Users/murtuzasaifee/Documents/Personal/Courses/python_ml_nlp_practice_code/venv/lib/python3.10/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/murtuzasaifee/Documents/Personal/Courses/python_ml_nlp_practice_code/venv/lib/python3.10/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/murtuzasaifee/Documents/Personal/Courses/python_ml_nlp_practice_code/venv/lib/python3.10/site-packages (from html5lib) (0.5.1)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.6-py3-none-any.whl.metadata (4.6 kB)
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
Downloading soupsieve-2.6-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.12.3 soupsieve-2.6

In [21]:
url = 'https://en.wikipedia.org/wiki/Mobile_network_codes_in_ITU_region_2xx_(Europe)'
df = pd.read_html(url,match='Brand',header=0)[1]

In [25]:
## Pickle file - serialized data

## Saving it to pickle file
df.to_pickle('df_pickle')

##Reading pickle file
df_pickle = pd.read_pickle('df_pickle')
df_pickle.head()

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,276,1,ONE,One Albania,Operational,GSM 900 / GSM 1800 / UMTS 2100 / LTE 1800 / LT...,"Former One Telecommunications, Telekom Albania..."
1,276,2,Vodafone,Vodafone Albania,Operational,GSM 900 / GSM 1800 / UMTS 2100 / LTE 1800 / LT...,[2]
2,276,3,ALBtelecom,Albtelecom,Not operational,GSM 900 / GSM 1800 / UMTS 2100 / LTE 1800,Former Eagle Mobile;[2][3] merged with ONE in ...
3,276,4,Plus Communication,Plus Communication,Not operational,GSM 900 / GSM 1800 / UMTS 2100,[4] Shut down Jan 2018;[5] MNC withdrawn[3]