In [1]:
# Imports

import pandas as pd

In [3]:
# Load data file 

df = pd.read_csv('/Users/murtuzasaifee/Documents/Personal/Courses/python_ml_nlp_practice_code/resources/nba.csv')

In [75]:
# Check first 2 rows
df.head(2)

# Check last 2 rows
df.tail(2)

# Check null values count
df.isnull().sum()

# Check the complete info
df.info()

# Check Columns
df.columns

# To get the number of rows and columns
df.shape

Name          1
Team          1
Number        1
Position      1
Age           1
Height        1
Weight        1
College       0
Salary        0
Bonus       457
Sales       457
dtype: int64

In [25]:
# Drop the Bonus column
df = df.drop(columns=['Bonus'])

df = df.drop(columns=['Salary'])

df = df.drop(columns='Name')

In [90]:
# Drop a row which is completely null

df = df.dropna(how='all', axis=0)

# Drop a column which is completely null

df = df.dropna(how='all', axis=1)

In [91]:
# Filling the salary with values

salary_mean = round(df['Salary'].mean(),2)
df['Salary'] = df['Salary'].fillna(salary_mean)
df.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,06-Feb,180.0,Texas,7730337.00
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,06-Jun,235.0,Marquette,6796117.00
2,John Holland,Boston Celtics,30.0,SG,27.0,06-May,205.0,Boston University,4848533.28

In [93]:
# Filling the Colleage with values

df['College'] = df['College'].fillna('No College')
df.head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,06-Feb,180.0,Texas,7730337.00
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,06-Jun,235.0,Marquette,6796117.00
2,John Holland,Boston Celtics,30.0,SG,27.0,06-May,205.0,Boston University,4848533.28
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,06-May,185.0,Georgia State,1148640.00
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,06-Oct,231.0,No College,5000000.00

In [83]:
# Create new data frame with selected columns

new_df = df[['Team', 'College', 'Salary']]
display(new_df)

30

In [88]:
# Get unique values of Team column, get number of unique values of Team Column, get values of all under the Teams column
df['Team'].unique()
df['Team'].nunique()
df['Team'].value_counts()

Team
New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Boston Celtics            15
Brooklyn Nets             15
Portland Trail Blazers    15
Oklahoma City Thunder     15
Denver Nuggets            15
Washington Wizards        15
Miami Heat                15
Charlotte Hornets         15
Atlanta Hawks             15
San Antonio Spurs         15
Houston Rockets           15
Dallas Mavericks          15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Chicago Bulls             15
Sacramento Kings          15
Phoenix Suns              15
Los Angeles Lakers        15
Los Angeles Clippers      15
Golden State Warriors     15
Toronto Raptors           15
Philadelphia 76ers        15
Orlando Magic             14
Minnesota Timberwolves    14
Utah Jazz                 14
Name: count, dtype: int64

In [87]:
# Same as above

df['College'].unique()
df['College'].nunique()
df['College'].value_counts()

College
No College         85
Kentucky           21
Duke               20
Kansas             18
North Carolina     16
                   ..
Utah Valley         1
Cleveland State     1
Iowa State          1
Florida State       1
Baylor              1
Name: count, Length: 119, dtype: int64

In [96]:
# Subtract 2 from the all the age columns

df['Age'].subtract(2)

array(['Boston Celtics', 'Brooklyn Nets', 'New York Knicks',
       'Philadelphia 76ers', 'Toronto Raptors', 'Golden State Warriors',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Phoenix Suns',
       'Sacramento Kings', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Detroit Pistons', 'Indiana Pacers', 'Milwaukee Bucks',
       'Dallas Mavericks', 'Houston Rockets', 'Memphis Grizzlies',
       'New Orleans Pelicans', 'San Antonio Spurs', 'Atlanta Hawks',
       'Charlotte Hornets', 'Miami Heat', 'Orlando Magic',
       'Washington Wizards', 'Denver Nuggets', 'Minnesota Timberwolves',
       'Oklahoma City Thunder', 'Portland Trail Blazers', 'Utah Jazz'],
      dtype=object)

In [103]:
filtered_df = df[df['Team'] == 'Brooklyn Nets']
display(filtered_df)

filtered_df = df[df['College'] == 'Texas']
display(filtered_df)

filtered_df = df[df['Salary'] > 500000]
display(filtered_df)

filtered_df = df[df['Age'] > 30]
display(filtered_df)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,06-Aug,216.0,No College,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,06-Mar,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,06-Apr,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,06-Jul,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,06-Mar,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,06-Jul,208.0,No College,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,06-Apr,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,05-Nov,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,06-Nov,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,06-Oct,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,06-Oct,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,06-Oct,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,06-Mar,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,06-Aug,221.0,Georgia Tech,11235955.0

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,06-Feb,180.0,Texas,7730337.0
66,Cory Joseph,Toronto Raptors,6.0,PG,24.0,06-Mar,190.0,Texas,7000000.0
133,P.J. Tucker,Phoenix Suns,17.0,SF,31.0,06-Jun,245.0,Texas,5500000.0
179,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,06-Sep,238.0,Texas,14260870.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,06-Nov,243.0,Texas,2357760.0
289,Jordan Hamilton,New Orleans Pelicans,25.0,SG,25.0,06-Jul,220.0,Texas,1015421.0
294,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,06-Nov,240.0,Texas,19689000.0
384,D.J. Augustin,Denver Nuggets,12.0,PG,28.0,6-0,183.0,Texas,3000000.0
414,Kevin Durant,Oklahoma City Thunder,35.0,SF,27.0,06-Sep,240.0,Texas,20158622.0

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,06-Feb,180.0,Texas,7730337.00
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,06-Jun,235.0,Marquette,6796117.00
2,John Holland,Boston Celtics,30.0,SG,27.0,06-May,205.0,Boston University,4848533.28
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,06-May,185.0,Georgia State,1148640.00
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,06-Oct,231.0,No College,5000000.00
...,...,...,...,...,...,...,...,...,...
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,06-Jun,206.0,Dayton,981348.00
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,06-Mar,203.0,Butler,2433333.00
454,Raul Neto,Utah Jazz,25.0,PG,24.0,06-Jan,179.0,No College,900000.00
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,07-Mar,256.0,No College,2900000.00
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.00

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,06-Mar,200.0,Georgia Tech,6300000.0
31,Lou Amundson,New York Knicks,17.0,PF,33.0,06-Sep,220.0,UNLV,1635476.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,06-Aug,240.0,Syracuse,22875000.0
34,Jose Calderon,New York Knicks,3.0,PG,34.0,06-Mar,200.0,No College,7402812.0
43,Sasha Vujacic,New York Knicks,18.0,SG,32.0,06-Jul,195.0,No College,947276.0
...,...,...,...,...,...,...,...,...,...
406,Tayshaun Prince,Minnesota Timberwolves,12.0,SF,36.0,06-Sep,212.0,Kentucky,947276.0
413,Nick Collison,Oklahoma City Thunder,4.0,PF,35.0,06-Oct,255.0,Kansas,3750000.0
415,Randy Foye,Oklahoma City Thunder,6.0,SG,32.0,06-Apr,213.0,Villanova,3135000.0
420,Nazr Mohammed,Oklahoma City Thunder,13.0,C,38.0,06-Oct,250.0,Kentucky,222888.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0

In [109]:
# Sorting the columns

df.sort_values('Team', ascending=True)

df.sort_values('Team', ascending=False)

df.sort_values('College', ascending=True)

df.sort_values('College', ascending=False)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
308,David West,San Antonio Spurs,30.0,PF,35.0,06-Sep,250.0,Xavier,1499187.0
114,Larry Nance Jr.,Los Angeles Lakers,7.0,PF,23.0,06-Sep,230.0,Wyoming,1155600.0
331,Frank Kaminsky III,Charlotte Hornets,44.0,C,23.0,7-0,240.0,Wisconsin,2612520.0
247,Sam Dekker,Houston Rockets,7.0,SF,22.0,06-Sep,230.0,Wisconsin,1646400.0
145,Duje Dukan,Sacramento Kings,26.0,PF,24.0,06-Sep,220.0,Wisconsin,525093.0
...,...,...,...,...,...,...,...,...,...
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,06-Jul,220.0,Arizona,1335480.0
44,Derrick Williams,New York Knicks,23.0,PF,25.0,06-Aug,240.0,Arizona,4000000.0
266,JaMychal Green,Memphis Grizzlies,0.0,PF,25.0,06-Sep,227.0,Alabama,845059.0
287,Alonzo Gee,New Orleans Pelicans,15.0,SF,29.0,06-Jun,225.0,Alabama,1320000.0
180,Mo Williams,Cleveland Cavaliers,52.0,PG,33.0,06-Jan,198.0,Alabama,2100000.0

In [112]:
# Top 5 highest salary
df.sort_values('Salary', ascending=False).head(5)

# Age in asencding order
age_df = df.sort_values('Age', ascending=True)
display(age_df)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
122,Devin Booker,Phoenix Suns,1.0,SG,19.0,06-Jun,206.0,Kentucky,2127840.0
226,Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,06-Jun,202.0,UNLV,1733040.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,06-Sep,220.0,Arizona,4171680.0
60,Christian Wood,Philadelphia 76ers,35.0,PF,20.0,06-Nov,220.0,UNLV,525093.0
62,Bruno Caboclo,Toronto Raptors,20.0,SF,20.0,06-Sep,205.0,No College,1524000.0
...,...,...,...,...,...,...,...,...,...
102,Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,06-Mar,185.0,No College,947726.0
261,Vince Carter,Memphis Grizzlies,15.0,SG,39.0,06-Jun,220.0,North Carolina,4088019.0
304,Andre Miller,San Antonio Spurs,24.0,PG,40.0,06-Mar,200.0,Utah,250750.0
400,Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,06-Nov,240.0,No College,8500000.0
298,Tim Duncan,San Antonio Spurs,21.0,C,40.0,06-Nov,250.0,Wake Forest,5250000.0